body {
  background: #d0baeb;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 40px;
}
h2 {
  margin: 0 0 5px;
  font-size: 24px;
}
h2,
h3 {
  font-size: 30px;
}
select {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  background: rgba(240, 240, 240, 0.88);
}
a {
  text-decoration: none;
  color: rgb(109, 27, 130);
}

.container {
  margin: 60px auto;
  border: 1px;
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  max-width: 600px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.city:last-child {
  border: none;
}
.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: rgb(0, 0, 0, 0.8);
}
